In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import f1_score,accuracy_score
from sklearn.metrics import precision_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [12]:
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [3]:
Data_set = pd.read_csv("heart-disease.csv")

In [4]:
Data_set.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
Data_set.info()

In [2]:
Data_set.isna().sum()

NameError: name 'Data_set' is not defined

In [8]:
Data_set.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
Data_set["target"].value_counts()

1    165
0    138
Name: target, dtype: int64

In [18]:
X = Data_set.drop(columns="target",axis=1)

In [19]:
Y = Data_set["target"]

In [21]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [22]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [26]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=1234)

In [28]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [29]:
models = [SVC(),KNeighborsClassifier(),GaussianNB(),RandomForestClassifier(),DecisionTreeClassifier()]

In [30]:
def comparing():
    for model in models:
        model.fit(x_train,y_train)
        pred = model.predict(x_test)
        accu = accuracy_score(y_test,pred)
        print("The accuracy score of ",model,"is ",accu)

In [31]:
comparing()

The accuracy score of  SVC() is  0.6885245901639344
The accuracy score of  KNeighborsClassifier() is  0.639344262295082
The accuracy score of  GaussianNB() is  0.8360655737704918
The accuracy score of  RandomForestClassifier() is  0.8360655737704918
The accuracy score of  DecisionTreeClassifier() is  0.7704918032786885

In [37]:
def cross():
    for model in models:
        cv_score = cross_val_score(model,X,Y,cv=5)
        mean_acc = sum(cv_score)/ len(cv_score)
        mean_acc = mean_acc*100
        mean_acc = round(mean_acc,2)
        print("Cross Validation Score for the",model, "=",cv_score)
        print("Mean Accuracy Score for the",model, "=",mean_acc)

In [38]:
cross()

Cross Validation Score for the SVC() = [0.60655738 0.60655738 0.73770492 0.68333333 0.58333333]
Mean Accuracy Score for the SVC() = 64.35
Cross Validation Score for the KNeighborsClassifier() = [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Mean Accuracy Score for the KNeighborsClassifier() = 64.39
Cross Validation Score for the GaussianNB() = [0.80327869 0.8852459  0.78688525 0.83333333 0.71666667]
Mean Accuracy Score for the GaussianNB() = 80.51
Cross Validation Score for the RandomForestClassifier() = [0.85245902 0.85245902 0.80327869 0.81666667 0.73333333]
Mean Accuracy Score for the RandomForestClassifier() = 81.16
Cross Validation Score for the DecisionTreeClassifier() = [0.75409836 0.81967213 0.73770492 0.71666667 0.71666667]
Mean Accuracy Score for the DecisionTreeClassifier() = 74.9

In [39]:
mod= SVC()

In [40]:
params = {
"kernel":["linear","poly","rbf","sigmoid"],
"C":[1,5,10,20]
}

In [43]:
clas = GridSearchCV(mod,params,cv=5)
clas.fit(X,Y)

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': [1, 5, 10, 20],
                         'kernel': ['linear', 'poly', 'rbf', 'sigmoid']})